.start-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;

    .container-start-items{
        width: 800px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;

        .start-title{   
            font-size: 62px;
            font-weight: 700;
            color: $text-color;
        }
        .start-subtitle{
            font-size: 32px;
            font-weight: 400;
            color: $text-color;
        }

            .start-btn{
                width: 120px;
                height: 60px;
                border: none;
                border-radius: 18px;
                cursor: pointer;
            }
        
    }
}