.messages-container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .m-title {
    font-size: 42px;
    font-weight: 700;
    color: $text-color;
  }

  .messages-items {
    width: 400px;
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    border: 4px solid $text-color;
    background-color: #282748;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: $text-color;

    }

    .messages-btn {
      width: 100px;
      height: 100px;
      display: flex;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }

    .message-item {
      width: 100%;
      height: 100%;
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .messages {
        width: 900px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        padding: 25px;
        background-color: $background-color;
        border-radius: 20px;

        .message-title {
          font-size: 18px;
          font-weight: 700;
          color: $text-color;
        }

        .message-date {
          font-size: 12px;
          font-weight: 700;
          color: $text-color;
        }
      }
    }
  }
}