$text-color: #f3f3f3;
$border-color: #1c3728;
$text-color-1: #000;
$text-color-2: #2c2c2c;
$text-color-3: #1d1d1d;
$button-color: #747474;
$back-header-color: #5db686;
$comment-back: #478c83;


//Nueva Paleta de Colores

$background: #0f102b;
$background-color: #635a88;
$background-color-2: #10081d;
$form-back: #23243d;
$font-color: #dadce7;
$inputs-color: #434458;
$button-white: #fff;
$title-color: #fdfdfd;
$subtitle-color: #4f516b;
$message-color: #1c1d37;